rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir a los usuarios leer y escribir solo sus propios documentos en la colección "users"
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
